extends layout

block content
  h1= title
  p Welcome to #{title}
  ul 
    each date, index in meals
      li= index
        ul= date
          each thing, index in date
            li= thing
            li= date